<html>
    <head>
        <meta name= "viewport" content="width=device-width">
        <link rel="stylesheet" type="text/css" href="style.css">
        <title>Product App</title>
    </head>
    <body>
      <div class="nav-bar"></div>
        <div id="app">
            <div class="product">
                <div class="product-image">
                    <img v-bind:src="image" alt="socks">
                </div>
                <div class="product-info">
												<h1>{{ product }}</h1>
												<p v-if="inventory > 20">In stock</p>
												<p v-else-if="inventory<=20 && inventory>0"> almost sold out</p>
                        <p v-else 
                        :class="{outOfStock: !inventory}"
                        >Out of stock</p>
												<p v-if="onSale">On sale</p>

												<ul>
													<li v-for="detail in details"> {{ detail }} </li>
												</ul>
                        <div v-for="variant in variants"
                         :key="variant.variantId"
                         class="color-box"
                         :style=" {backgroundColor: variant.variantColor} "
                         @mouseover="updateProduct(variant.variantImage)">
													
												</div>
												<ul>
													<li v-for="size in sizes">{{ size }}</li>
												</ul>
								</div>
                <button v-on:click="addToCart"
                 :disabled="!inventory"
                 :class="{disabledButton: !inventory}">Add to Cart</button>
								<button v-on:click="reduceNumber">Reduce Number of Items</button>
								<div class="cart">
									<p>Cart({{ cart }})</p>
								</div>

                   
            </div>
            <p>I'm learning vue from <a v-bind:href="link">here</a></p>
            <p>{{ description }}</p>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/vue"></script>
        <script src="main.js"></script>
    </body>
</html>